.footer{
    background-color: #2c2b2b;
    color: white;
    padding: 10px 0;
}
.upper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.upper div{
    margin: 20px;
}
.upper div .fb,.insta,.twi,.utube,.gmail{
    font-size: 30px;
    color: #aacf38;
}
.upper div .fb:hover,.insta:hover,.twi:hover,.utube:hover,.gmail:hover{
    color: white;
}
.logo-text p{
    padding-top: 20px;
}
.lower{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.company p .white{
    color: white;
}
.resources p .white{
    color: white;
    align-items: flex-start;
}
.lower div{
    margin-left: 10px;
}
.inquiry input,.inquiry textarea{
    display: block;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px 6px;
}
input::placeholder,textarea::placeholder{
    font-size: 10px;
}
.inquiry .result{
    color: lightgray;
    margin-left: 10px;
}
.btn-outline{
    margin-top: 10px;
    margin-bottom: 10px;
}
span{
    color: red;
}
.company h2,.resources h2{
 font-size: 20px;
 padding-bottom: 10px;

}
.company p,.resources p,.lower p{
    line-height: 1.4;
    padding-bottom: 10px;
}
.lower img{
    width: 180px;
}
.lower p{
    max-width: 200px;
}
.whats{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #32b662;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 55px;
    z-index: 100;
    transition: 0.4s;
}
.whats:hover{
    background-color: #47e782;
}
.my-float {
    margin-top: 16px;
}
@media (max-width:840px) {
.lower{
    padding-left: 50px;
}
.upper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}
.company h2,.resources h2{
text-align: start;
}
.upper div{
    margin: 10px;
}
.upper div .fb,.insta,.twi,.utube{
    font-size: 20px;
    color: #aacf38;
}
    .lower{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
   }
   .whats{
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #32b662;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 55px;
    z-index: 100;
    transition: 0.4s;
}
.inquiry input,.inquiry textarea{
    width: 70%;
}
}